@media (max-width: 600px) {
    main .main-picture-eliezer img{
        width: 100%;
        height: 100%;
}

@media (max-width: 900px) {
    .about-main-logo {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .about-main-logo img {
        grid-row: 1;
    }
    .about-info-paragraphe {
        grid-column: 1;
        grid-row: 3;
    }
    .about-university-img-container img{
        width: 70%;
        height: 70%;
    }
    .about-info-skills {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    } 
    .about-text-skills {
        grid-column: 1;
    }
    .about-pictures-skills {
        grid-column: 1;
        grid-row: 3;
    }
}